extends layout

block content
  h2.page-header Students
  p Please register using the form below
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  div.row
    div.col-lg-6
      form(method='post', action='/students/register', enctype='multipart/form-data')
        div.form-group
          label Name
          input.form-control(type='text', name='name', placeholder='Enter Name')
        div.form-group
          label Gender
          select.form-control(name='gender', placeholder='Select Gender')
            option(value='male') Male
            option(value='female') Female
        div.form-group
          label Profile Image
          input.form-control(type='file', name='profileimage')