extends layout

block content
    h1=title
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method='post', action='/categories/save')
        .form-group
            label Name:
            input(type='hidden', name='id', value='#{data[0]._id}')
            input.form-control(name='name', type='text', value='#{data[0].name}')
            input.btn.btn-default(name='submit', type='submit', value='Save')